[TIMESCALEDB]
HOST=127.0.0.1
DB_NAME=truckdata
DB_USER=postgres
DB_PASSWORD=postgres
DB_PORT=5432

[SPARK]
APP_NAME=Truck Data Wrangler

[DATA]
RAW_PATH=raw_data/

[STREAMING]
PROCESSING_TIME=10 seconds
CHECKPOINT_LOCATION=.spark-stream-checkpoint/
